html {
  font-family: Questrial, sans-serif;
}

.masthead {
  background-color: #6a5eb9;
}

.logo {
  text-align: center;
}

.nav {
  text-align: center;
}

.banner-content {
  margin-left: 1em;
}

.nav a {
  color: #fff;
  text-decoration: none;
}

.btn {
  color: #fff;
  background-color: #6a5eb9;
  border: none;
}

.h2-break {
  max-width: 10em;
}

.banner-index {
  background: linear-gradient(to right, rgba(30, 9, 88, .2), rgba(30, 9, 88, 0)), url("../images/homepage-banner.jpg");
  height: 40vh;
  background-size: cover;
  min-height: 16em;
  overflow: hidden;
  background-position: center;
  filter: drop-shadow(6px 6px 12px rgba(106, 142, 102, .5));
}

.btn:hover,
.btn:focus {
  background-color: #261e57;
}

#current {
  background-color: #3a318d;
}

.bg-text-colour {
  color: #fff;
  background: linear-gradient(to bottom, rgba(62, 49, 141, .6), rgba(62, 49, 141, .6));
  bottom: 0;
  right: 0;
  left: 0;
  transition: all 900ms ease-in-out;
}

.bg-text-colour:hover {
  background: linear-gradient(to bottom, rgba(62, 49, 141, .8), rgba(62, 49, 141, 1));
  transition: all 900ms ease-in-out;
}

.btn-banner {
  background-color: #3e318d;
  color: #fff;
  border: none;
}

.btn-banner:hover,
.btn-banner:focus {
  background-color: #6a5eb9;
  border-color: #3e318d;
  color: #fff;
}

.adoptable-dogs {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(218, 213, 255, 1));
}

.dog-card img {
  filter: brightness(90%);
}

.dog-card img:hover {
  filter: brightness(100%);
  transition: all 600ms ease-in-out;
}

.doggo-hover:hover {
  transition: all 900ms ease-in-out;
}

hr {
  margin: 0 auto;
  max-width: 45%;
  border: 1px solid #9e9e9e;
}

footer {
  background-color: #6a5eb9;
}

small {
  color: #fff;
}

.btn-line {
  border-bottom: #3e318d;
  color: #000;
}

input, select {
  border-radius: 5px;
  border-color: #c7c7c7;
}

footer a:hover {
  color: #261e57;
}

@media only screen and (min-width: 23em) {

  .nav {
    padding: .5em;
  }

  .nav li {
    padding-bottom: .5em;
  }

  .dog-text {
    padding-left: 1em;
    padding-right: 1em;
  }

  .adoptable-dogs {
    padding-left: 1em;
    padding-right: 1em;
  }

  .dog-card {
    padding-bottom: 2em;
  }

}

@media only screen and (min-width: 38em) {

  .logo {
    text-align: left;
  }

  .nav {
    text-align: right;
  }

  .banner-index {
    height: 60vh;
  }

  .banner,
  .card {
    min-height: 0;
  }

  .banner-content {
    margin-left: 3em;
  }

  .dog-card {
    padding-bottom: 1em;
  }

}
